body{
    font-family: monospace;
    background: #fafafa;
}

p {
    font-family: monospace;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
}

.wrapper{
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3%;
}

#sidebar active{
    margin-left: -250px;
}

#sidebar .sidebar-header{
    padding: 20px;
    background: #6d7fcc;
}