:root{
  --primary:#0275D8;
  --light: #ffffff;
  --grey:#efefef;
}

.bg-gradient{
  background-image: linear-gradient(to top, #5768f3, #4c5ff2, #3f57f1, #304ef0, #1c45ef);
}

body{
  overflow: hidden;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  background-color: var(--primary);
  color: var(--primary);
}