#sidebar-container {
    color: #ffffff;
    min-height: 100vh;
}

.nome{
    padding-top: 10px;
}

#sidebar-container .logo {
    background-image: linear-gradient(to top, #5768f3, #4c5ff2, #3f57f1, #304ef0, #1c45ef);
    font-size: 0.8rem;
    padding: 2rem 1.25rem;
}

#sidebar-container .logo img {
    height: 50px;
    width: 50px;
}

#sidebar-container .logo p{
    text-align: center;
    padding-left: 10px;
    margin: auto;
}

#sidebar-container .menu {
    padding-top: 10px;
    width: 20vw;
    text-align: center;
}

.divide{
    border-top: 1px solid #ffffff;
}

ion-icon {
    padding-top: 20px;
}
